@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("./Montserrat-Medium.ttf");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Montserrat';
  src: url("./Montserrat-Bold.ttf");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: 'Montserrat';
  src: url("./Montserrat-ExtraLight.ttf");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Montserrat';
  src: url("./Montserrat-Light.ttf");
}

